* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}

#main {
  width: 1200px;
  margin: 0px auto;
}
header {
  background: #ccc;
}
nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
form label {
  margin-right: 10px;
}
form input {
  margin-right: 20px;
  height: 30px;
}
form button {
  padding: 15px;
  box-sizing: border-box;
}
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
li {
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
}
li div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
li div button {
  width: 45%;
  padding: 10px 0px;
  box-sizing: border-box;
}
